.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-family: "Madimi One", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: capitalize;
}
@media screen and (max-width:1240px) {
    .breadcrum{
        font-size: 13px;
    }
}
@media screen and (max-width:700px) {
    .breadcrum{
        font-size: 10px;
    }
}